:root {
    --general-color: #2ecc71;
    --copyright-color: #27ae60;
    --character-color: #1abc9c;
    --artist-color: #16a085;
    --meta-color: #a8e6cf;
}
p {
    background-color: #e8f5e9;
    text-align: justify;
    margin: auto;
    width: 800px;
}
body {
    background-color: lightgray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}
h1 {
    background-color: #27ae60;
    color: white;
    text-align: center;
    border: #2ecc71 ridge 4px;
    width: 600px;
    margin: auto;
}
h2 {
    background-color: #2ecc71;
    text-align: left;
    border: #2ecc71 ridge 4px;
    width: fit-content;
    margin: auto;
    transform: translateX(-310px);
}
li {
    background-color: #1abc9c;
    text-align: left;
    padding: 5px;
    border: #a8e6cf ridge 2px;
    width: 700px;
    text-align: center;
    margin: auto;
}
img {
    display: block;
    margin: auto;
    height: 420px;
    width: 50%;
}
