p {
    background-color: rgb(173, 228, 166);
    opacity: 0.7;
    }
h1 {
    background-color: green;
    text-align: center;
    border: red solid 4px;
    }
body{
    background-color: pink;
    border: blue;
    border-width: 100px;
    }