:root {
    --general-color: rgb(9, 14, 150);
    --copyright-color: rgb(167, 26, 168);
    --character-color: rgb(33, 168, 26);
    --artist-color: rgb(166, 15, 17);
    --meta-color: rgb(251, 137, 38);
}
p {
    background-color: rgb(203, 227, 199);
    text-align: justify;
    }
body{
    background-color: rgb(173, 228, 166);
    }
h1 {
    background-color: green;
    text-align: center;
    border: rgb(203, 227, 199) ridge 4px;
    width: 250px;
    }

h2 {
    background-color: rgb(68, 128, 53);
    text-align: left;
    border: rgb(95, 171, 78) ridge 5px;
    width: fit-content;
    }
li {
    background-color: rgb(108, 183, 78);
    text-align: left;
    border: rgb(203, 227, 199) ridge 2px;
    width: 700px;
    text-align: center;
    color: var(--text-color)
    }
img {
    display: block;
    margin-left: left;
    margin-right: auto;
    width: 50%
    }