p {
    background-color: rgb(181, 226, 175);
    text-align: justify;
    }
h1 {
    background-color: green;
    text-align: center;
    border: beige solid 4px;
    }
body{
    background-color: rgb(173, 228, 166);
    padding: ridge green;
    border-width: 100px;
    }
h2 {
    background-color: rgb(163, 55, 55);
    text-align: left;
    border: yellow solid 5px;
    }
li {
    background-color: rgb(0, 255, 229);
    text-align: left;
    border: blue dashed 2px;
    }