body {
    background-color: rgb(125, 187, 166);
    }
li {
    border: green ridge 4px;
    background-color: springgreen;
    width: 250px; 
    }
h3 {
    border: greenyellow ridge 6px;
    background-color: springgreen;
    width: 100px;
    }
h1 {
    border: green inset 8px;
    background-color: springgreen;
    width: 160px;
    }