body {
    background-color: aqua;
    }
#upgrades li{
    text-align: center;
    margin-left: 850px;
    border: green ridge 4px;
    background-color: springgreen;
    width: 250px;
    height: 100px;
    transform: translateY(-500px);
    }
#counter {
    border: green ridge 6px;
    background-color: springgreen;
    width: 160px;
    margin-left: 300px;
    }
h1 {
    border: green inset 8px;
    background-color: springgreen;
    width: 160px;
    margin-left: 300px;
    transform: translate(0, 15px);
    text-align: center;
    }
img {
    -webkit-user-drag: none;
    user-select: none;
    display: block;
    height: 420px;
    width: 375px;
    }
h2 {
    transform: translateY(-85px);
    }
#honePage a{
    display: inline-block;
    transform: translateY(-300px);
    }
#honePage h2{
    border: gray ridge 4px;
    background-color: rgb(182, 179, 179);
    width: 160px;
    transform: translateY(-300px);
    }
button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    transform: translate(300px, 10px);
    transform-origin: center center;
    transition: transform 0.1s ease;

    /*prevent all those dumb users from draggin the image*/
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    }
.ib:hover {
    transform: scale(1.2) translateX(250px);
}
.ib:active {
    transform: scale(0.9) translateX(320px);
    transition: transform 0.2s ease-out;
}