body {
    background-color: aqua;
    }
#upgrades ul li{
    text-align: center;
    margin-left: 850px;
    border: green ridge 4px;
    background-color: springgreen;
    width: 125px;
    height: 100px;
    transform: translateY(-500px);
    list-style-type: none;
    position: relative;
    z-index: 1;
    }
#counter {
    border: green ridge 6px;
    background-color: springgreen;
    width: fit-content;
    margin-left: 300px;
    display: flex;
    justify-content: flex-start;
    }
h1 {
    border: green inset 8px;
    background-color: springgreen;
    width: 185px;
    margin-left: 300px;
    transform: translate(0, 15px);
    text-align: center;
    }
#treeImage img{
    -webkit-user-drag: none;
    user-select: none;
    display: block;
    height: 420px;
    width: 375px;
    }
h2 {
    transform: translateY(-85px);
    }
#honePage a{
    display: inline-block;
    transform: translateY(-300px);
    }
#honePage h2{
    border: gray ridge 4px;
    background-color: rgb(182, 179, 179);
    width: 160px;
    transform: translateY(-300px);
    }
button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    transform: translate(300px, 10px);
    transform-origin: center center;
    transition: transform 0.1s ease;

    /*prevent all those dumb users from draggin the image*/
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    }
.ib:hover {
    transform: scale(1.2) translateX(250px);
}
.ib:active {
    transform: scale(0.9) translateX(320px);
    transition: transform 0.2s ease-out;
}
#upgrades button{
    position: absolute;
    left: 902px;
    width: 125px;
    height: 100px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(-945px);
    border: solid green 4px;
    background-color: rgba(3, 202, 102, 0.5);
}
#upgrades button:nth-of-type(1){
    transform: translateY(-944px);
}
#upgrades button:nth-of-type(2){
    transform: translateY(-836px);
}
#upgrades button:nth-of-type(3){
    transform: translateY(-728px);
}
#upgrades button:nth-of-type(4){
    transform: translateY(-620px);
}
#upgrades button:hover {
    background-color: darkolivegreen;
}
#container1{
    border: rgb(33, 82, 29) solid 4px;
    width: 400px;
    height: 100px;
    translate: 1022px -948px;
    background-color: aquamarine;
}
#container2{
    border: rgb(33, 82, 29) solid 4px;
    width: 400px;
    height: 100px;
    translate: 1022px -948px;
    background-color: aquamarine;
}
#container3{
    border: rgb(33, 82, 29) solid 4px;
    width: 400px;
    height: 100px;
    translate: 1022px -948px;
    background-color: aquamarine;
}
#container4{
    border: rgb(33, 82, 29) solid 4px;
    width: 400px;
    height: 100px;
    translate: 1022px -948px;
    background-color: aquamarine;
}