body {
    background-color: aqua;
    }
li {
    margin-left: 1400px;
    border: green ridge 4px;
    background-color: springgreen;
    width: 250px;
    height: 100px;
    transform: translateY(-500px)
    }
h3 {
    border: greenyellow ridge 6px;
    background-color: springgreen;
    width: 100px;
    }
h1 {
    border: green inset 8px;
    background-color: springgreen;
    width: 160px;
    }
img {
    display: block;
    margin-left: 750px;
    transform: translateY(250px);
    height: 420px;
    width: 475px;
    }